<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>𝐑𝐞𝐠𝐢𝐬𝐭𝐫𝐚𝐭𝐞!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="container">
  <ion-card>
    <ion-title>Registrate en DIGIGAMES</ion-title>
    <br />
    <ion-input label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Elige un nombre bonito"></ion-input>
    <br />
    <ion-input type="email" label="Correo Electronico" label-placement="floating" fill="outline" placeholder="email@tudominio"></ion-input>
    <br />
    <ion-input type="number" label="Numero telefonico" label-placement="floating" fill="outline" placeholder="Ej: +56 9"></ion-input>
    <br />
    <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"></ion-input>
    <br />
    <ion-button routerLink="/login">REGISTRAR</ion-button>
  </ion-card>
  </div>
</ion-content>
