<ion-content [fullscreen]="true" color="dark">
<div id="container">
  <img src="assets/img/logo1.png" alt="Logo DIGIGAMES" style="height: 120px; vertical-align: middle;">
  <ion-card color="warning">
    <br />
    <ion-title>
      Registrate en DIGIGAMES</ion-title>
    <br />
    <ion-input label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Elige un nombre bonito"[(ngModel)]="nombre"></ion-input>
    <br />
    <ion-input  type="email" label="Correo Electronico" label-placement="floating" fill="outline" placeholder="email@tudominio"
    [(ngModel)]="correo"></ion-input>
    <br />
    <ion-input type="number" label="Numero telefonico" label-placement="floating" fill="outline" placeholder="Ej: +56 9"[(ngModel)]="numero"></ion-input>
    <br />
    <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"
    [counter]="true"
    maxlength="8" [(ngModel)]="contrasena"></ion-input>
    <br />
    <ion-input type="password" label="Confirmar Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"
    [counter]="true"
    maxlength="8" [(ngModel)]="confirmarContrasena"></ion-input>
    <br />
    <ion-button (click)="ingresoUsuarios()">REGISTRAR</ion-button>

    <ion-label>
      <p>¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia Sesion</a></p>
    </ion-label> 
    <br />
  </ion-card>
  </div>
</ion-content>
