<ion-header [translucent]="true">
  <ion-toolbar color="warning">  
          <ion-buttons slot="start">
            <ion-button [routerLink]="'/login'" (click)="presentAlert()"><mat-icon>logout</mat-icon></ion-button>
          </ion-buttons>
    <ion-title>
      <img src="assets/img/logo1-negro.png" alt="Logo DIGIGAMES" style="height: 55px; margin-right: 50px;">
      </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Menu DIGIGAMES </ion-title>
    </ion-toolbar>
  </ion-header>
  <br />
  <ion-content color="dark">
  <ion-menu-toggle>
  <ion-item detail="true" [routerLink]="['/perfil']" color="dark">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Tu Perfil</ion-label>
  </ion-item>
  <ion-item detail="true" [routerLink]="['/perfil']" color="dark">
    <ion-icon name="help"></ion-icon>
    <ion-label>Preguntas Frecuentes</ion-label>
</ion-item>
<ion-item detail="true" [routerLink]="['/perfil']" color="dark">
  <ion-icon name="glasses"></ion-icon>
  <ion-label>Quienes somos</ion-label>
</ion-item>
</ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>hola</ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div> -->



<ion-content [fullscreen]="true">
  <ion-content padding class="background" color="dark">
  
  <ion-row>
  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="#" src="assets/img/black myth.jpg" />
    <ion-card-header>
      <ion-card-title>Black Myth: Wukong</ion-card-title>
      <ion-card-subtitle>39.999</ion-card-subtitle>
      
    </ion-card-header>
    <ion-button (click)="presentAnotherAlert()" >Comprar</ion-button>
      <div class="icon-container">
        <ion-card-title>Disponible en:</ion-card-title>
        <ion-icon name="logo-steam"></ion-icon>
        <ion-icon name="logo-playstation"></ion-icon>
      </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/elden.jpg" />
    <ion-card-header>
      <ion-card-title>Elden Ring</ion-card-title>
      <ion-card-subtitle>35.000</ion-card-subtitle>
      
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()" >Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/cod bo6.jpg" />
    <ion-card-header>
      <ion-card-title>COD: Black Ops 6</ion-card-title>
      <ion-card-subtitle>64.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button (click)="presentAnotherAlert()">Pre-Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-icon name="logo-xbox"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/gta5.jpg" />
    <ion-card-header>
      <ion-card-title>Grand Theft Auto 5</ion-card-title>
      <ion-card-subtitle>13.500</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-icon name="logo-xbox"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/eafc.jpg" />
    <ion-card-header>
      <ion-card-title>EAFC 25</ion-card-title>
      <ion-card-subtitle>59.990</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-icon name="logo-xbox"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/f124.jpg" />
    <ion-card-header>
      <ion-card-title>F1 24: Champions Edition</ion-card-title>
      <ion-card-subtitle>40.000</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-icon name="logo-xbox"></ion-icon>
    </div>

    
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/reddead.jpg" />
    <ion-card-header>
      <ion-card-title>Red Dead Redemption 2</ion-card-title>
      <ion-card-subtitle>19.999</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-icon name="logo-xbox"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/concord.jpg" />
    <ion-card-header>
      <ion-card-title>Concord</ion-card-title>
      <ion-card-subtitle>28.000</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
    </div>

    
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/gta4.jpg" />
    <ion-card-header>
      <ion-card-title>GTA 4: Episodes From Liberty City</ion-card-title>
      <ion-card-subtitle>15.000</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
    </div>

    
  </ion-card>

  <ion-card class="card1" color="dark">
    <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/morales.jpg" />
    <ion-card-header>
      <ion-card-title>Spider-man: Miles Morales</ion-card-title>
      <ion-card-subtitle>33.495</ion-card-subtitle>
    </ion-card-header>
  
    
    <ion-button (click)="presentAnotherAlert()">Comprar</ion-button>
    <div class="icon-container">
      <ion-card-title>Disponible en:</ion-card-title>
      <ion-icon name="logo-steam"></ion-icon>
      <ion-icon name="logo-playstation"></ion-icon>
    </div>

    
  </ion-card>

</ion-row>

</ion-content>
</ion-content>


<ion-footer [translucent]="true">
    
    <ion-tab-bar color="warning" slot="bottom">
      <ion-tab-button tab="home" [routerLink]="['/perfil']" >
        <ion-icon name="person-circle-outline"></ion-icon>
        Tu Perfil
      </ion-tab-button>
      <ion-tab-button tab="library" [routerLink]="['/preguntas']">
        <ion-icon name="help"></ion-icon>
        Preguntas
      </ion-tab-button>
    </ion-tab-bar>


</ion-footer>
