<ion-content [fullscreen]="true" color="dark">
  
  <div id="container">
    <img src="assets/img/logo1.png" alt="Logo DIGIGAMES" style="height: 120px; vertical-align: middle;">
    <ion-card color="warning">
      <br />
      <ion-title>Modifica tu contraseña</ion-title>
      <br />
      <p>Te enviaremos un correo para restablecerla</p>
      <br />
      <ion-input type="email" label="Correo Electronico" label-placement="floating" fill="outline" placeholder="email@tudominio" 
      [(ngModel)]="correo"></ion-input>
      <br />
      <ion-button (click)="modifcontrasena()">Aceptar</ion-button>
      <br />
    </ion-card>
    </div>


</ion-content>
