<ion-header [translucent]="true">
  <ion-toolbar color="warning">  
    <ion-buttons slot="start">
      <ion-back-button default-href="'/catalogo'"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo1-negro.png" alt="Logo DIGIGAMES" style="height: 55px; margin-right: 50px;">
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="dark">

  <p>PREGUNTAS FRECUENTES</p> 
  
  <div id="container">

    <h1>Que es DIGIGAMES</h1>
    <p>DIGIGAMES nace como un proyecto ambicioso para la venta de videojuegos,
      en el cual podras comprar dependiendo de sus plataformas, por lo mismo te 
      proporcionamos su venta dependiendo de donde se encuentre disponible.
    </p>

    <h2>¿Estoy seguro con ustedes?</h2>
    <p>Si, tenlo por seguro. Los metodos de pago son totalmente confidenciales 
      entre tu y tu banco, en caso de algun error en tu procesamiento de pago
      que pueda estar en nuestras manos poder solucionar, estaremos ahi para ayudarte.
    </p>

    <h3>¿Realize mi compra, donde me llegará?</h3>
    <p>
      Tu compra te llegará a tu correo registrado con nosotros, con la respectiva orden de 
      compra y tu precio final. Ten en cuenta que a partir de tu compra DIGIGAMES dispondra un
      maximo de dos horas para poder hacertelo llegar, de lo contrario, ponte en contacto con nosotros. 
    </p>

    <h4>¿El juego no era lo que esperaba, que hago?</h4>
    <p>
      Lamentablemente no podemos hacer reembolsos ya que cada plataforma tiene su metodo
      de validacion de videojuegos. No obstante como mencionamos en el punto anterior,
      cualquier inconveniente al momento de pago, el compromiso DIGI es estar ahi para ayudarte.
    </p>
  </div>
  


</ion-content>

<ion-footer translucent="true">
  <ion-tab-bar color="warning" slot="bottom">
    
  </ion-tab-bar>
</ion-footer>