

<ion-content [fullscreen]="true" color="dark">
  
  <div id="container">
    <img src="assets/img/logo1.png" alt="Logo DIGIGAMES" style="height: 120px; vertical-align: middle;">
    <ion-card color="warning">
      <br />
      <ion-title>Inicia Sesion en DIGIGAMES</ion-title>
      <br />
      <ion-input type="email" label="Correo Electronico" label-placement="floating" fill="outline" placeholder="email@tudominio"
      ngModel
      email></ion-input>
      <br />
      <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"
      [counter]="true"
      maxlength="8"></ion-input>
      <br />
      <ion-button routerLink="/catalogo">ENTRAR</ion-button>
      <br />
      <ion-label>
        <p>¿Nuevo en DIGIGAMES? <a [routerLink]="['/registro']">Registrate</a></p>
      </ion-label> 
      <br />
    </ion-card>
    </div>


</ion-content>
