<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button default-href="'/catalogo'"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="dark">
  <h1>Aqui encontraras tus juegos pendientes de pago</h1>
  <p>Estamos ansiosos de que ya puedas jugar!</p>
  <div id="container">
    <ion-icon name="game-controller-outline"></ion-icon>
  </div>
</ion-content>

<ion-footer translucent="true">
  <ion-tab-bar color="warning" slot="bottom">
    <ion-title>
      <img src="assets/img/logo1-negro.png" alt="Logo DIGIGAMES" style="height: 50px;">
      </ion-title>
  </ion-tab-bar>
</ion-footer>
